
  body {
    margin: 0 auto;
    display: inline;
    background: linear-gradient(135deg,  #6f00fc 0%,#fc7900 50%,#fcc700 100%);
    display: flex;
    height: 100vh;
  }

  p {
    width: 420px;
    height: 120px;
    text-align: center;
    position: relative;
    top: 50px;
    left: 1px;
    right: auto;
    margin: 0 auto;
    font-family: 'Bangers', cursive;
    font-size: 60px;
    color: rgb(48, 4, 247);
    text-shadow: 3px 5px 3px white;
  
  }
  
  .match-game {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-columns: repeat(5, auto);
    perspective: 1000px;
  }
  
  .match-card {
    width: 90px;
    height: 90px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .2s;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  }
  
  .match-card:active {
    transform: scale(0.97);
    transition: transform .2s;
  }
  
  .match-card.flip {
    transform: rotateY(180deg);
  }
  
  .front-side,
  .back-side {
    width: 100%;
    height: 100%;
    padding: 5px;
    position: absolute;
    border-radius: 10px;
    background: #f3f5f2;
    backface-visibility: hidden;
  }
  
  .front-side {
    transform: rotateY(180deg);
  }

  button {
    background: #282A3A;
    color: #FFF;
    width: 100px;
    height: 60px;
    text-align: center;
    position: absolute;
    top: 520px;
    right: 260px;
    bottom: auto;
    left: auto;
    border-radius: 5px;
    border: 2px;
    cursor: pointer;
    font-family: 'Bangers', cursive;
    font-size: 20pt;
 }

 .timer {
  font-family: 'Bangers', cursive;
  font-size: 25pt;
  color: white;
  position: absolute;
  text-align: center;
  top: 200px;
  right: 750px;
  bottom: auto;
  left: auto;
  margin: auto;
 }

 .score {
  font-family: 'Bangers', cursive;
  font-size: 25pt;
  color: white;
  text-align: center;
  position: absolute;
  top: 200px;
  right: 450px;
  bottom: auto;
  margin: auto;
   
 }
